body {
  text-align: center;
  background-color: #c9d1da;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}
h4 ,footer{
  color: #FEF2BF;
  font-family: 'Press Start 2P', cursive;
  font-size: 0.8rem;

}
.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
.btnquit {
  -webkit-border-radius: 17;
  -moz-border-radius: 17;
  border-radius: 17px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  background: #b4bec5;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btnquit:hover {
  background: #FEF2BF;
  background-image: -webkit-linear-gradient(top, #e6fc3c, #cfd19f);
  background-image: -moz-linear-gradient(top, #e6fc3c, #d8dba7);
  background-image: -ms-linear-gradient(top, #daddc5, #d8dba7);
  background-image: -o-linear-gradient(top, #e6fc3c, #d8dba7);
  background-image: linear-gradient(to bottom, #e6fc3c, #d8dba7);
  text-decoration: none;
}
